.EachClass__Container
{
    
    height: 120px;
    font-family: "Helvetica";
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    color:white;
    

}

.EachClass__Heading h4
{
    
    text-align: left;
    padding: 15px;
    color:#232222;
    font-size: 20px;
    margin: 0;
    

}

.EachClass__LecClass h5
{ 
  color:#29b0db;
  text-align: left;
  
  font-size: 17px;
  margin: 0;
  margin-left: 18px;
}