.EachRecord__Heading h4
{
 
    
    text-align: left;
    padding: 15px;
    color:#232222;
    font-size: 20px;
    margin: 0;
}
.EachRecord__Container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}
.EachRecord__LecClass h5
{
    color:#29b0db;
  text-align: left;
  
  font-size: 17px;
  margin: 0;
  margin-left: 18px;

  
}

.Container 
{
    background-color: #ffffff;
    height: 100px;
    border-radius: 9px;
    color:white;
    

}