

.HomePage__Class
{
    width: 100%;
    
}

.HomePage__Records h3
{
    margin:20px
}
.EachClass__List
{

    display:grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto;
    margin:20px;
  
}
.EachClass__Each
{
background-color: #fff;
filter: drop-shadow(2px 3px 4px rgb(180, 180, 180));
border-radius: 9px;

}
.EachClass__Each:hover
{
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(3px 3px 4px rgb(45, 45, 45));
}

.homeScreenDots
{
    position: fixed;
    z-index: 3;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}