*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Helvetica';
}
.container{
    margin: 1rem;
    text-align: center;
}
.nav{
   
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    
}
.site-title{
    font-size: 2rem;
}
.nav ul{
    padding: 0;
   margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: #29b0db;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    
}
.nav li:hover{
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    border: 1px solid #29b0db;
    border-radius: 3px;
    
}

.Navbar__Logo
{
    object-fit: contain;
    height:30px;
}

.Navbar__Logout
{
    border:none;
    outline: none;
    background-color: #29b0db;
    color:white;
    border-radius: 3px;
    padding:8px;
}

.Navbar__Logout:hover
{
    cursor: pointer;
}
